body {
  margin: 0px;
  background-color: #a3a3a3;
  font-family: Arial;
  overflow: hidden;
}
#canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}
#debugpanel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 500px;
  background-color: yellow;
  opacity: 0.3;
}
#chatOutput {
  position: absolute;
  overflow: auto;
  padding: 5px;
  left: 0px;
  bottom: 60px;
  width: 350px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px 10px 0px 0px;
  color: white;
  font-family: Arial;
}
#chatInput {
  position: absolute;
  padding: 5px;
  left: 0px;
  bottom: 0px;
  width: 350px;
  height: 50px;
  background-color: black;
  border-radius: 0px 0px 10px 0px;
  opacity: 0;
  border: none;
  color: white;
  font-size: 150%;
}
#backgroundOpacity {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#playScreen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  border-radius: 2px;
  width: 400px;
  height: 300px;
  z-index: 1;
}
#playButton {
  padding: 20px 0;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  width: 300px;
  border-radius: 2px;
  font-size: 200%;
  color: #165b1e;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  vertical-align: middle;
  transition: .7s;
}
#playButton:hover {
  background-color: #165b1e;
  color: black;
}
#HUD {
    z-index: 2;
    user-select: none;
}
#nameInput {
  position: relative;
  padding: 5px;
  color: white;
  text-align: center;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
  font-size: 150%;
}
#nameInput:focus {
    outline: none;
}
#HUD-building {
  position: absolute;
  height: 70px;
  width: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 3;
}
.HUD-buildSlot {
  position: relative;
  height: 60px;
  width: 60px;
  opacity: 0.6;
  background-color: black;
  border-radius: 5px;
  display: none;
  margin: 5px;
  cursor: pointer;
}
.HUD-buildSlot img {
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}
#HUD-hotbar {
  position: absolute;
  height: 70px;
  width: 741px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 3;
}
.HUD-hotbarSlot {
  position: relative;
  height: 60px;
  width: 60px;
  opacity: 0.6;
  background-color: black;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.HUD-hotbarSlot img {
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}
#adminpassInput {
  position: absolute;
  top: 500px;
}
#alerts {
  position: absolute;
  width: 100%;
  top: 5%;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  
}
#alerts div {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 150%;
}
/*=======SHOP=======*/
#HUD-shopCont {
  position: absolute;
  height: 50%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  user-select: none;
}
.HUD-shopList {
    float: left;
    width: 120px;
    height: 120px; 
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 5px;
}
.HUD-shopList img {
    margin: 10px;
    border-radius: 2px;
    width: 100px;
    height: 100px;
}

/*#HUD-shopList1 {
  position: absolute;
  top: 75px;
  width: 120px;
  height: 120px; 
  left: 25px;
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 5px;
}
#HUD-shopList2 {
  position: absolute;
  top: 75px;
  width: 120px;
  height: 120px; 
  left: 170px; 
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 5px;
  color: white;
}*/

#HUD-shopNavBuildings {
  position: relative;
  top: 0px;
  height: 30px;
  padding: 10px 0px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  float: right;
  color: white;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: 0px 5px 0px 0px;
}
#HUD-shopNavBuildings:hover { background-color: rgba(0, 0, 0, 1); }
#HUD-shopNavTools {
  position: relative;
  top: 0px;
  height: 30px;
  padding: 10px 0px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  color: white;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px 0px 0px 0px;
}
#HUD-shopNavTools:hover { background-color: rgba(0, 0, 0, 1); }

#HUD-spawning {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 30px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 170px;
    height: 200px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    user-select: none;

}
#HUD-spawning span {
    font-size: 110px;
}



/*==========TOOLTIP===========*/
.tooltip {
    position: absolute;
    display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}